Which 10 companies make the most money?

In [ ]:
select sum(a.fare) fare, b.company
from chicago_taxi_db.taxi_trips a
    join chicago_taxi_db.company b on a.company_id = b.company_id
group by b.company
order by 1 desc

Show the 10 pickup community areas with the most rides.

In [ ]:
select b.community_name, sum(a.pickup_community_area_id) sum
from chicago_taxi_db.taxi_trips a
    join chicago_taxi_db.community_areas b on a.pickup_community_area_id=b.area_code
group by b.community_name
order by sum(a.pickup_community_area_id) desc

Get the count of taxi rides per day of week.

In [ ]:
select a.trip_start_timestamp, count(a.trip_start_timestamp) ts
from chicago_taxi_db.taxi_trips a
    join chicago_taxi_db.date b on a.trip_start_timestamp=b.date
group by a.trip_start_timestamp
order by trip_start_timestamp